.kefu-xinxi{
	text-align: center;
	font-size: 20px;
}
.kefu-xinxi select{
	width: 100px;
	font-size: 20px;
}
.kefu-xinxi div{
	margin-top: 20px;
	margin-left: 100px;
}
.kefu-xinxi textarea{
	width: 500px;
	height: 200px;
}
.kefu-xinxi p{
	display: inline;
	
}
textarea.wenben-xiao{
	width: 200px;
	height: 20px;
}
