html  {
	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial,"黑体";
	font-size: 13px;
	margin-right: 0px;
}









body{
	padding: 0px;
	margin: 0px;
	width: 1250px;
	margin: auto();
	text-align: center;
	background-color: #f2f2f2;
}

#logo {
	float: left;
	margin-left: 10px;
	
}
#question, #portrait {
	float: right;
	margin-right: 10px;
}


