div.xiaoqu{
	width: 900px;
	margin-top:50px ;
	margin-left: 150px;
	margin-right: 200px;
}
div.xiaoqulogo{
	width: 200px;
	height: 200px;
	background-color:#888888 ;
	float: left;
}
div.xiaoquxinxi{
	height: 200px;
	width: 600px;
	background-color:#888888 ;
	margin-left: 210px;
}
div.xiaoqu-jutixinxi{
	text-align: left;
	font-size: 20px;
	height: 40;
	width: 500px;
	margin-left: 50px;
	margin-top: 20px;
}
div.mokuai{
	width: 900px;
	margin-top:50px ;
	margin-left: 150px;
	margin-right: 200px;
	text-align: left;
}
div.mokuai table{
	border:solid #add9c0; 
	border-width:1px 0px 0px 1px;
	width: 500px;
	font-size: 20px;
}
div.mokuai table tr{
	width: 500px;
}
div.mokuai table tr td{
	width: 50px;
	border:solid #add9c0; 
	border-width:0px 1px 1px 0px; 
	padding:10px 10px;
}
