.shoufei-biaozhun{
	text-align: left;
	font-size: 20px;
}
.shoufei-biaozhun select{
	width: 300px;
	font-size: 20px;
}
.shoufei-biaozhun div{
	margin-top: 20px;
	margin-left: 100px;
}
.shoufei-biaozhun textarea{
	width: 300px;
	height: 25px;
}
.shoufei-biaozhun p{
	display: inline;
	
}
textarea.wenben-henxiao{
	width: 30px;
	height: 25px;
}
