textarea {
	padding: 0.85em 1.5em;
	width: 150px;
	height: 10px;
	border: none;
	border-radius: 2em;
	background: #fff;
	color: #535d92;
	resize: none;
}

.wenben-xiao {
	height: 10px;
	margin: 0;
}

.shoufei-biaozhun{
	text-align: center;
	font-size: 20px;
}
.shoufei-biaozhun select{
	width: 300px;
	font-size: 20px;
}
.shoufei-biaozhun div{
	margin-top: 20px;
	margin-left: 100px;
}
.shoufei-biaozhun textarea{
	width: 300px;
	height: 100px;
}
.shoufei-biaozhun p{
	display: inline;
	
	
}
.shoufei-biaozhun button {
	margin-left: 100px;
}
textarea.wenben-henxiao{
	width: 30px;
	height: 10px;
}

