div.mokuai{
	width: 900px;
	margin-top:50px ;
	margin-left: 150px;
	margin-right: 200px;
	text-align: left;
}
div.mokuai table{
	border:solid #F08F00; 
	border-width:1px 0px 0px 1px;
	width: 1000px;
	font-size: 20px;
}
div.mokuai table tr{
	width: 500px;
}
div.mokuai table tr td{
	width: 50px;
	border:solid #F08F00; 
	border-width:0px 1px 1px 0px; 
	padding:10px 10px;
}
div.mokuai h3{
	display: inline
}
.dibu-anniu{
	margin-top:30px ;
	margin-left: 0px;
}

.mokuai select {
	height: 30px;
	width: 100px;
	text-align: center;
	font-size: 20px;
	padding: 0 0 0 50px;
}

.mokuai select option {
	padding: 0 0 0 50px;
}

